.container {
  display: flex;
  width: calc(100% - 80px);
  height: 100vh;
}

.map_wrap {
  width: 100%;
  height: 100%;
}

.exmap {
  height: 100%;
  width: 100%;
}

.cctvzone {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: bisque;
}

.cctv_list {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  width: 70%;
  justify-content: left;
  align-items: flex-start;
}


.toggleButton {
  position: absolute; /*절대 위치 지정8/
  /* top: 7%; 화면의 가운데에 위치시키기 */
  /* margin-left: 45%; */
  /* transform: translateY(-50%); 세로 방향 중앙 정렬 */
  height: 50px;
  padding: 10px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  z-index: 2; /* 버튼을 지도 위에 표시 */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggleButton:hover {
  background-color: #195ea6;
}

.largeCctv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.cctvGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 150px;
}
.cctvContainer{
  width: 600px;
  height: 800;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.1), 0px 10px 10px 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
  z-index: 2;
  position: relative;
  overflow-x: auto; /* x 축으로 오버플로우 처리 */
  white-space: nowrap; /* 줄 바꿈 방지 */
}