.container {
  display: flex;
  width: calc(100% - 80px);
  height: 100vh;
}

.map_wrap {
  width: 100%;
  height: 100%;
}

.exmap {
  height: 100%;
  width: 100%;
}

.cctvzone {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: bisque;
}

.cctv_list {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  width: 70%;
  justify-content: left;
  align-items: flex-start;
}

.smallContainer {
  display: flex;
  flex-direction: row;
  height: 15%;
}

.toggleButton {
  margin: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggleButton:hover {
  background-color: #0056b3;
}

.largeCctv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.cctvGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
