.Z3r0F1ag {
  font-size: 100px;

  text-align: center;
}
.email {
  margin-top: 50px;
  text-align: center;
  width: 200px;
  height: 30px;
}
.password {
  margin-top: 50px;
  text-align: center;
  width: 200px;
  height: 30px;
}
.Loginbtn {
  width: 50px;
  height: 30px;
}
/* .div {
  align-items: center;
  justify-content: center;
  position: absolute;
} */
/* .logo {
  margin-top: 100px;
  margin-left: 40%;
  font-size: 50px;
}

.IDloginInput {
  margin-top: 40px;
  margin-left: 35%;

  width: 200px;
  height: 40px;
}

.PSloginInput {
  width: 200px;
  height: 40px;
} */
